version: "3.7"

services:
  vue-app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: vimage-app
    restart: always
    ports:
      - "8080:8080"
    networks:
      - vue-network

  ffmpeg-worker:
    image: jrottenberg/ffmpeg:5.1-ubuntu
    command: ["sleep", "infinity"]
    networks:
      - vue-network
    deploy:
      replicas: 6
networks:
  vue-network:
    driver: bridge
